-r requirements.txt

nox
mypy
flake8
black
pytest
isort
coverage
# plotting
matplotlib
altair
pandas
bokeh
plotly
pygal
# api
requests
aiofiles
uvicorn
websockets
# doc
mkdocs-material
mkdocs-git-revision-date-localized-plugin