body {
  font-family: "IBM Plex Sans";
}

.vz-titlebar {
  background: #124e78;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  color: whitesmoke;
}

.vz-titlebar .container {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.vz-titlebar #title {
  padding: 0px;
  font-size: 3vh;
}

.vz-titlebar #date-time {
  padding: 0px;
}

.vz-report-description {
  padding-top: 10px;
}

.vz-widget-content {
  width: 100%;
  height: 100%;

}